@font-face {
    font-family: proxima; /* Гарнитура шрифта */
    src: url(../Proxima-Nova/ProximaNovaCond-Regular.ttf); /* Путь к файлу со шрифтом */
   }


html, body {
  padding: 0;
  margin: 0;
  }
html {
  font-size: 1em;
  }
body {
  font-size: 100%;
  background-image: url("../img/bg.png");
  }
 ul,li{
 	margin: 0;
 	padding: 0;
 }
.con-link{
	text-decoration: none;
	color: white;
}
.hed{
	min-height: 120px;
	position: relative;
	background: none repeat scroll 0% 0% #EFF3F7;
	border-bottom: 3px none;
	border-top: 0px none;
}
.headd{
	display: inline-block;
	padding-top: 32px;
}
.lef{
	margin-left: 75px;
	float: left;
}
.rig{
	margin-right: 75px;
	float: right;
}
.rig ul{
	list-style-type: none;
	margin-top:  0px;
}
.rig ul li{
	display: inline-block;
	margin-left: 18px;
}
.rig ul li a .img{
	height: 48px;
	width: 48px;
	background-size: contain;
}
.soc{
	background-repeat: no-repeat;
	background-size: contain;
}
.soc1{
	background: url("../img/vk.png");
}
.soc2{
	background: url("../img/facebook.png");
}
.soc3{
	background: url("../img/twit.png");
}
.soc4{
	background: url("../img/github.png");
}
.soc1:hover{
	background: url("../img/vk1.png");
	background-repeat: no-repeat;
}
.soc2:hover{
	background: url("../img/facebook1.png");
}
.soc3:hover{
	background: url("../img/twit1.png");
}
.soc4:hover{
	background: url("../img/github1.png");
}
.line{
	background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  	background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  	background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  	width: 100%;
 	height: 3px;
}
.full {
	width:960px;
	margin:auto;
	margin-top: 38px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.menu{
	width:26.041%;
	float:left;
	margin-bottom: 52px;
}
a{
	text-decoration: none;
}
.links{
    border-radius: 4px;
    background-color: rgb(240, 243, 247);
    border-radius: 4px;
    width: 100%;
}
.list{
	list-style-type: none;
}
.single-link{
	font-size: 23px;
  	font-family: "fira_sanslight";
  	color: rgb(59, 168, 192);
  	line-height: 1.2;
  	text-align: left;

  	padding-top: 25px;
  	padding-left: 26px;
  	padding-bottom: 18px;
}

.links ul li:last-child a:after{
	border:none;
	content:"";
}
.line-sep{
	height: 2px;
	width:90%;
	margin-left: 5%;
	background-color: rgb(59, 168, 192);
}
.top-l{
	display: none;
}
.active{
	background-color:#3BA8C0;
	color:white;
}
.contacts{
    margin-top: 20px;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 25px;
}
.contact{
	font-size: 17px;
  	font-family: "fira_sanslight";
  	color: rgb(255, 255, 255);
  	line-height: 1.2;
  	text-align: left;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	padding-left: 50px;
}

.contact1{
	background-color: rgb(65, 185, 212);
}
.contact2{
	background-color: rgb(72, 203, 232);
}
.contact3{
	background-color: rgb(81, 218, 248);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.contact-icon{
	width: 22px; height: 18px;
    display: inline-block;
    
}
.ic1{
	background: url("../img/mail.png");
	background-size: cover;
}
.ic2{
	background: url("../img/phone.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 22px; height: 21px;
}
.ic3{
	background: url("../img/skype.png");
	background-size: cover;
	width: 22px; height: 21px;
}
.maincont{
	background-color: rgb(59, 168, 192);
	font-size: 21px;
  	font-family: "fira_sanslight";
  	color: rgb(251, 252, 253);
  	line-height: 1.2;
	text-align: left;
	padding-left: 14px;
	padding-top: 5px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.space{
	width:6.251%;
	float:left;
}
.content{
	width:67.708%;
	float:right;
}
.block{
	border-radius: 4px;
  	background-color: rgb(239, 243, 247);
  	width:100%;
  	margin-bottom: 35px;
}
.block-header{
	width:100%;
	height: 50px;
	font-size: 27px;
  	font-family: "fira_sanslight";
  	color: rgb(59, 168, 192);
  	line-height: 1.111;
  	text-align: left;
  	padding-left: 25px;
  	padding-top:20px;

}
.separator{
	width:55%;
	margin-left: 0px;
}
.menuseparator{
	border:1px solid rgb(59, 168, 192);
	}
.con{
	margin-right: 20px;
	margin-top: 20px;
	display: inline-block;
}
.left{
	padding-bottom: 30px;
}
.leftside{
	background: url("../img/me-web.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width:200px;
	height: 190px;
	border-radius: 100%;
	border:5px solid rgb(59, 168, 192);
	margin-left: 10px;
	display: inline-block;
	
}
.rightside{
	width:58%;
	display: inline-block;
	float: right;
	font-family: "fira_sansmedium";
	font-size: 17px;
	color: #58697A;
}
.info{
	font-size: 15px;
	font-family: "fira_sansbook";
}
.sk{
	float: left;
	width: 45%;
	height: 35px;
}
.skp{
	padding-bottom: 10px;
	margin-top: 0px;
}
.ski{
	display: inline;
}
.skill{
	display: inline-block;
  	height: 19px;
  	padding-left: 4px;
  	padding-right: 4px;
  	border-radius: 2px;
    background-image: -moz-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(46,140,162) 0%, rgb(46,140,162) 52%, rgb(59,168,192) 53%, rgb(59,168,192) 100%);

    font-size: 14px;
    text-align: center;
  	font-family: "proxima";
 	color: rgb(255, 255, 255);
  	line-height: 1.2;
}
.wande{
	padding-top: 20px;
	padding-left: 35px;
	padding-bottom: 10px;
}
.wande-entry{
	margin-bottom: 10px;
}
.icon{
	width: 42px; height: 38px;
    display: inline-block;
    margin-right: 3px;
}
.rab{
	 background: url('../img/rab1.png');
	 background-repeat: no-repeat;
     background-size: contain;
}
.edu1{
	 background: url('../img/edu1.png');
	 background-repeat: no-repeat;
     background-size: contain;
     height: 30px;

}
.edu2{
	 background: url('../img/loft.png');
	 background-repeat: no-repeat;
     background-size: contain;
}
.wande-div {
	display: inline-block;
    font-size: 14px;
    height: 38px;
}
.top-line{
	margin-bottom: 0px;
	font-size: 17px;
  	font-family: "fira_sanslight";
  	color: rgb(74, 84, 93);
  	line-height: 1.2;
  	text-align: left;
}
.bottom-line{
	font-size: 15px;
  	font-family: "fira_sanslight";
  	color: rgb(74, 84, 93);
  	line-height: 1.2;
  	text-align: left;
}
.foot{
	min-height: 80px;
	clear: both;
	background: none repeat scroll 0% 0% #EFF3F7;
    width: 100%;
}
.line2{
	clear: both;
	margin-top: 30px;
}
.foot p{
	font-size: 13px;
  	font-family: "fira_sanslight";
  	color: rgb(74, 84, 93);
  	line-height: 1.2;
  	text-align: center;
  	margin-top: 0px;
  	margin-bottom: 0px;
  	padding-top: 20px;

}

/*Projects page!----------------------------------------------*/

.bl{
	/*height: 600px;*/
	border-radius: 4px;
}

.collection{
	width:100%;
	padding-top: 28px;
	padding-bottom: 18px;
}
.single-site{
	display: inline-block;
	margin-left: 25px;
	width:180px;
	text-align: center;
	padding-bottom: 10px;
	vertical-align: text-top;
}
.site-img{
	height: 128px;
	margin: auto;
	border-width: 2px;
 	border-color: rgb(59, 168, 192);
 	border-style: solid;
 	border-radius: 4px;
	background-color: white;

}
.hover-bg{
	width: 100%;
	height:128px;
 	background-color: rgba(1, 108, 164, 0.749);
 	visibility: hidden;

}
.sitename-cont{
	display: inline-block;
	text-align: center;
	margin-top: 50px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	height: 18px;
	border-width: 2.5px;
 	border-color: rgb(239, 243, 247);
  	border-style: solid;
  	border-radius: 4px;
}
.sitename{
	margin: auto;
	font-size: 12px;
  	font-family: "fira_sanslight";
  	color: rgb(239, 243, 247);
  	line-height: 1.2;
}
#simg1{
	background:url("../img/site1.png");
	background-repeat: no-repeat;
	background-size: cover;
}
#newSite{
	background:url("../img/new.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	border:none;
}
.site-url{
  	font-size: 13px;
  	font-family: "fira_sanslight";
  	color: rgb(59, 168, 192);
  	font-style: italic;
  	line-height: 1.2;
  	text-align: center;
  	margin-top: 10px;
}
.site-desc{
	margin-top: 100px;
	font-size: 15px;
  	font-family: "fira_sanslight";
  	color: rgb(74, 84, 93);
  	line-height: 1.2;
  	text-align: center;
}

/*MODAL MODAL MODAL*/

#fade { 
    display: none;
    background-image: url("../img/back.png");
  	opacity: 0.749;
  	position: fixed; left: 0; top: 0;
    width: 100%; height: 200%;
    z-index: 9998;
}
.popup_block {
    display: none;
    background: #fff;
  	background-color: rgb(239, 243, 247);
  	box-shadow: 0px 6px 12.48px 0.52px rgba(13, 16, 7, 0.35);
    position: fixed;
    top: 50%; left: 50%;color: #000;
    width: 360px;
    min-height: 100px;
    height: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 9999;
}
#fade {
    position: absolute;
}
.popup_block {
    position: absolute;
}
#rFrame{
	display: none;
}
/*MODAL INSIDE*/
.modal-header{
	border-radius: 4px;
  	background-color: rgb(72, 203, 232);
  	height: 50px;
  	width: 100%;
}
.het{
	display: inline-block;
	margin-top: 11px;
  	margin-left: 12px;
  	margin-bottom: 6px;
}
.header-text{
	font-size: 25px;
  	font-family: "fira_sanslight";
  	color: rgb(255, 255, 255);
  	line-height: 1.2;
  	text-align: left;
}
.clo-butt{
	background: url("../img/close.png");
	height: 25px;
	width: 25px;
	float: right;
	margin-top: 12px;
	margin-right: 12px;
	cursor: pointer;
}
.smal-line{
	background-color: rgb(103, 223, 250);
	height: 9px;
	width: 100%;
	clear: both;
}
.modal-body{
	width: 100%;
}
.single-form{
	padding-bottom: 12px;
	padding-right: 21px;
	padding-top: 12px;
	padding-left: 21px;
	text-align: center;
}
.modal-body p{
	font-size: 17px;
  	font-family: "fira_sanslight";
  	color: rgb(149, 154, 168);
  	line-height: 1.2;
  	text-align: left;
	margin-top: 9px;
	margin-bottom: 7px;
}
.add-input{
	font-size: 13px;
  	font-family: "fira_sanslight";
  	color: rgb(72, 203, 232);
  	line-height: 1.2;
  	text-align: left;
	border-width: 1px;
  	border-color: rgb(72, 203, 232);
  	border-style: solid;
  	border-radius: 4px;
  	background-color: rgb(251, 252, 253);
  	height: 39px;
  	width:97%;
  	padding-left: 7px;
}
.add-input::-webkit-input-placeholder {
	font-size: 13px;
	padding-top: 4px;
	font-family: "fira_sanslight";
}
.add-input:-moz-placeholder {
	font-size: 13px;
	padding-top: 4px;
	font-family: "fira_sanslight";
}
#NewProj textarea {
	padding-top: 14px;
	height: 109px;
}
.img-row{
	height: 41px;
	width: 100%;
}
.im-down{
	float: left;
	width: 256px;
}
.down-but{
	background-color: rgb(72, 203, 232);
	background-image: url("../img/file.png");
	background-repeat: no-repeat;
	background-size: cover;
	width:52px;
	height: 41px;
	float: right;

}
.image-down {
	position: relative;
	overflow: hidden;
}
.image-down input.upload {
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.sub-1{
	font-size: 19px;
  	font-family: "fira_sanslight";
  	color: rgb(255, 255, 255);
  	line-height: 1.2;
  	text-align: center;
  	background-color: rgb(72, 203, 232);
  	border-radius: 5px;

  	width: 139px;
	margin-top: 8px;
}

/*PAGE 3*/
.block-header-page3-text{
	display: inline-block;
	font-size: 27px;
  	font-family: "fira_sanslight";
  	color: rgb(255, 255, 255);
  	line-height: 1.2;
  	text-align: center;
  	margin-top: 49px;
  	margin-left: 35px;
  	margin-bottom: 40px;
}
.block-header-page3{
	background-color: rgb(72, 203, 232);
	width:100%;
	height: 138px;
}
.sm-1{
	height: 17px;
}
.contact-form{
	width:65%;
	margin-top: 50px;
	margin-left: 122px;
}
.form-group-top{
	display: inline-block;
	width:44.5%;


}
.cont-top{
	margin-top: 0px;
	margin-bottom: 4px;
	font-size: 19px;
  	font-family: "fira_sanslight";
  	color: rgb(149, 154, 168);
  	line-height: 1.2;
  	text-align: left;
}
.cont-input-top{
	width:100%;
}
.top2{
	margin-left: 38px;
}
.cont-mid{
	margin-top: 10px;
	margin-bottom: 4px;

}
.text-mid{
	width: 99.3%;
	height: 175px;
	padding-top: 8px;
}
.captcha{
	display: inline-block;
}
.form-group-top img{
	border-width: 1px;
  	border-color: rgb(72, 203, 232);
  	border-style: solid;
  	border-radius: 4px;
}
.capt{
	width:50px;

}
.capt{

}
.but-bot{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	box-shadow: 0px 12px 5px -11px #163e69;
}
.but-bot:hover{
	box-shadow: 0px 0px 0px 0px #163e69;
	cursor: pointer;
}
#sbut{

}
#clearbut{
	float: right;
	background-color: rgb(132, 157, 181);
}
table{
	width:100%;
	vertical-align: bottom;
}
.valid-error{
  	border-color: rgb(249, 126, 118);
  	background-color: rgba(249, 126, 118, 0.329);
  	color: black;
}
.cont-success{
	color:red;
	font-size: 19px;
  	font-family: "fira_sanslight";
  	line-height: 1.2;
  	text-align: center;
}
#rFrame{
	overflow: hidden;
}

/*ADMIN PAGE*/
.admin-form{
	width:590px;
	text-align: center;
	background-color: rgb(239, 243, 247);
	margin: auto;

}
.admin-p{
	color: rgb(149, 154, 168);
	font-size: 19px;
  	font-family: "fira_sanslight";
  	line-height: 1.2;
  	margin-bottom: 8px;
  	margin-top: 6px;
}
.lock-icon{
	margin-right: 80px;
}
.lock-icon img:hover{

}
.icon-foot{
	background-image: url("../img/lock.png");
}
